.card {
    flex: 1;
    &__tag {
        font-size: 1.4rem;
        font-weight: bold;
    }
    &__value {
        font-size: 1.4rem;
        &--mission {
            margin: 0 6rem;
        }
    }
}
:host {
    max-width: 100%;
}
