.main-layout {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	& > * {
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
.sidebar {
	flex: 1 0 20%;
}
.content {
	flex: 1 0 80%;
}

@media (min-width: 701px) and (max-width: 1024px) {
	.main-layout {
		display: flex;
		flex-direction: row;
	}
	.content {
		flex: 1 0 66.67%;
	}
	.sidebar {
		flex: 1 0 33.33%;
	}
}

@media (max-width: 700px) {
	.main-layout {
		display: flex;
		flex-direction: column;
		& > * {
			flex: 1;
			margin-right: 0 !important;
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
}
