:root {
    --color-primary: #80808054;
    --color-primary-light: white;
    --color-primary-text: black;

    --color-secondary: green;
    --color-secondary-light: #07ab079e;
    --color-secondary-text: blue;
}
