<div class="card filter">
    <h3>Filters</h3>
    <div>
        <h4 class="filter__header">Launch Year</h4>
        <div class="filter__ly">
            <div *ngFor="let year of launchYearsArray">
                <button class="button" (click)="navigateTo('launch_year', year)"
                    [ngClass]="{'button__active': this.launchYear == year}">
                    {{year}}
                </button>
            </div>
        </div>
    </div>
    <div>
        <h4 class="filter__header">Successful Launch</h4>
        <div class="filter__ly">
            <div>
                <button class="button" (click)="navigateTo('launch_success', true)"
                    [ngClass]="{'button__active': this.launchSuccess === 'true'}">
                    True
                </button>
            </div>
            <div>
                <button class="button" (click)="navigateTo('launch_success', false)"
                    [ngClass]="{'button__active': this.launchSuccess === 'false'}">
                    False
                </button>
            </div>
        </div>
    </div>
    <div>
        <h4 class="filter__header">Successful Landing</h4>
        <div class="filter__ly">
            <div>
                <button class="button" (click)="navigateTo('land_success', true)"
                    [ngClass]="{'button__active': this.landSuccess === 'true'}">
                    True
                </button>
            </div>
            <div>
                <button class="button" (click)="navigateTo('land_success', false)"
                    [ngClass]="{'button__active': this.landSuccess === 'false'}">
                    False
                </button>
            </div>
        </div>
    </div>
</div>